/*
   ========================================
   ROOT variables
   ========================================
*/
:root{
   /* box model
       sizes 
   */
   --xs: 0.15rem;
   --s: 0.25rem;
   --m: 0.5rem;
   --l: 0.75rem;
   --xl: 1rem;
   --xxl: 1.5rem;
   --xxxl: 2.5rem;
   /* 
      Font 
      sizes
   */

   --font-xs: 0.75rem;
   --font-s: 0.875rem;
   --font-m: 1rem;
   --font-l: 1.125rem;
   --font-xl: 1.25rem;
   --font-xxl: 1.5rem;
   --font-xxxl: clamp(2rem, 8vw, 5rem);

   /* content wrapper width */

   --content-wrapper-width: 99ch;

   /* colors */
   --black-alpha-50: rgba(0, 0, 0, 0.04);
   --black-alpha-100: rgba(0, 0, 0, 0.06);
   --black-alpha-200: rgba(0, 0, 0, 0.08);
   --black-alpha-300: rgba(0, 0, 0, 0.16);
   --black-alpha-400: rgba(0, 0, 0, 0.24);
   --black-alpha-500: rgba(0, 0, 0, 0.36);
   --black-alpha-600: rgba(0, 0, 0, 0.48);
   --black-alpha-700: rgba(0, 0, 0, 0.64);
   --black-alpha-800: rgba(0, 0, 0, 0.80);
   --black-alpha-900: rgba(0, 0, 0, 0.92);
   --white-alpha-50: rgba(255, 255, 255, 0.04);
   --white-alpha-100: rgba(255, 255, 255, 0.06);
   --white-alpha-200: rgba(255, 255, 255, 0.08);
   --white-alpha-300: rgba(255, 255, 255, 0.16);
   --white-alpha-400: rgba(255, 255, 255, 0.24);
   --white-alpha-500: rgba(255, 255, 255, 0.36);
   --white-alpha-600: rgba(255, 255, 255, 0.48);
   --white-alpha-700: rgba(255, 255, 255, 0.64);
   --white-alpha-800: rgba(255, 255, 255, 0.80);
   --white-alpha-900: rgba(255, 255, 255, 0.92);
   --grey-50: #F7FAFC;
   --grey-100: #EDF2F7;
   --grey-200: #E2E8F0;
   --grey-300: #CBD5E0;
   --grey-400: #A0AEC0;
   --grey-500: #718096;
   --grey-600: #4A5568;
   --grey-700: #2D3748;
   --grey-800: #1A202C;
   --grey-900: #171923;
   --cyan-50: #EDFDFD;
   --cyan-100: #C4F1F9;
   --cyan-200: #9DECF9;
   --cyan-300: #76E4F7;
   --cyan-400: #0BC5EA;
   --cyan-500: #00B5D8;
   --cyan-600: #00A3C4;
   --cyan-700: #0987A0;
   --cyan-800: #086F83;
   --cyan-900: #065666;      
   --blue-50: #EBF8FF;
   --blue-100: #BEE3F8;
   --blue-200: #90CDF4;
   --blue-300: #63B3ED;
   --blue-400: #4299E1;
   --blue-500: #3182CE;
   --blue-600: #2B6CB0;
   --blue-700: #2C5282;
   --blue-800: #2A4365;
   --blue-900: #1A365D;   
   --red-50: #FFF5F5;
   --red-100: #FED7D7;
   --red-200: #FEB2B2;
   --red-300: #FC8181;
   --red-400: #F56565;
   --red-500: #E53E3E;
   --red-600: #C53030;
   --red-700: #9B2C2C;
   --red-800: #822727;
   --red-900: #63171B;
   --orange-50: #FFFAF0;
   --orange-100: #FEEBC8;
   --orange-200: #FBD38D;
   --orange-300: #F6AD55;
   --orange-400: #ED8936;
   --orange-500: #DD6B20;
   --orange-600: #C05621;
   --orange-700: #9C4221;
   --orange-800: #7B341E;
   --orange-900: #652B19;
   --yellow-50: #FFFFF0;
   --yellow-100: #FEFCBF;
   --yellow-200: #FAF089;
   --yellow-300: #F6E05E;
   --yellow-400: #ECC94B;
   --yellow-500: #D69E2E;
   --yellow-600: #B7791F;
   --yellow-700: #975A16;
   --yellow-800: #744210;
   --yellow-900: #5F370E;
   --green-50: #F0FFF4;
   --green-100: #C6F6D5;
   --green-200: #9AE6B4;
   --green-300: #68D391;
   --green-400: #48BB78;
   --green-500: #38A169;
   --green-600: #2F855A;
   --green-700: #276749;
   --green-800: #22543D;
   --green-900: #1C4532;
   --teal-50: #E6FFFA;
   --teal-100: #B2F5EA;
   --teal-200: #81E6D9;
   --teal-300: #4FD1C5;
   --teal-400: #38B2AC;
   --teal-500: #319795;
   --teal-600: #2C7A7B;
   --teal-700: #285E61;
   --teal-800: #234E52;
   --teal-900: #1D4044;
   --purple-50: #FAF5FF;
   --purple-100: #E9D8FD;
   --purple-200: #D6BCFA;
   --purple-300: #B794F4;
   --purple-400: #9F7AEA;
   --purple-500: #805AD5;
   --purple-600: #6B46C1;
   --purple-700: #553C9A;
   --purple-800: #44337A;
   --purple-900: #322659;
   --pink-50: #FFF5F7;
   --pink-100: #FED7E2;
   --pink-200: #FBB6CE;
   --pink-300: #F687B3;
   --pink-400: #ED64A6;
   --pink-500: #D53F8C;
   --pink-600: #B83280;
   --pink-700: #97266D;
   --pink-800: #702459;
   --pink-900: #521B41;

   /* shadows */
   --shadow-xs: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
   --shadow-s: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
   --shadow-m: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
   --shadow-l: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
   --shadow-xl: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
   --shadow-xxl: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

   /* borders */


   /* border-radius */
   --border-rad-xs: var(--xs);
   --border-rad-s: var(--s);
   --border-rad-m: var(--m);
   --border-rad-l: var(--l);
   --border-rad-xl: calc(2 * var(--xl));
   --border-rad-xxl: calc(2 * var(--xxl));

 
}

*, *::before, *::after{
   box-sizing: border-box;
}
body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{
   margin: 0;
}
html{
   scroll-behavior: smooth;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*,
*::before,
*::after {
   box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
   margin: 0;
}

html{
	scroll-behavior: smooth;
}

/*
   ========================================
   Classes
   ========================================
*/

/* width */

.w-100{
   width: 100%;
}

/* border-radius */
.rounded{
   border-radius: 50%;
}
.rounded-xs{
   border-radius: var(--border-rad-xs);
}
.rounded-s{
   border-radius: var(--border-rad-s);
}
.rounded-m{
   border-radius: var(--border-rad-m);
}
.rounded-l{
   border-radius: var(--border-rad-l);
}
.rounded-xl{
   border-radius: var(--border-rad-xl);
}
.rounded-xxl{
   border-radius: var(--border-rad-xxl);
}
/* shadows */
.shadow-xs{
   box-shadow: var(--shadow-xs);
}
.shadow-s{
   box-shadow: var(--shadow-s);
}
.shadow-m{
   box-shadow: var(--shadow-m);
}
.shadow-l{
   box-shadow: var(--shadow-l);
}
.shadow-xl{
   box-shadow: var(--shadow-xl);
}
.shadow-xxl{
   box-shadow: var(--shadow-xxl);
}

/* xx */
.flex-v {
   display: flex;
   flex-direction: column;
}
.flex-column {
   display: flex;
   flex-direction: column;
}
.flex-h {
   display: flex;
}
.flex {
   display: flex;
}
.align-center {
   align-items: center;
}
.align-top{
   align-items: flex-start;
}
.align-baseline{
   align-items: baseline;
}
.align-bottom{
   align-items: flex-end;
}
.justify-center {
   justify-content: center;
}
.justify-between{
   justify-content: space-between;
}
.justify-around{
   justify-content: space-around;
}
.justify-baseline{
   justify-content: baseline;
}
.justify-evenly{
   justify-content: space-evenly;
}

/* box model */
.gap-s {
   gap: var(--s);
}
.gap-m {
   gap: var(--m);
}
.gap-l {
   gap: var(--l);
}
.gap-xl {
   gap: var(--xl);
}
.gap-xxl {
   gap: var(--xxl);
}
.gap-xxxl {
   gap: var(--xxxl);
}
.p-s {
   padding: var(--s);
}
.p-m {
   padding: var(--m);
}
.p-l {
   padding: var(--l);
}
.p-xl {
   padding: var(--xl);
}
.p-xxl {
   padding: var(--xxl);
}
.p-xxxl {
   padding: var(--xxxl);
}
.py-s {
   padding-top: var(--s);
   padding-bottom: var(--s);
}
.py-m {
   padding-top: var(--m);
   padding-bottom: var(--m);
}
.py-l {
   padding-top: var(--l);
   padding-bottom: var(--l);
}
.py-xl {
   padding-top: var(--xl);
   padding-bottom: var(--xl);
}
.py-xxl {
   padding-top: var(--xxl);
   padding-bottom: var(--xxl);
}
.py-xxxl {
   padding-top: var(--xxxl);
   padding-bottom: var(--xxxl);
}

.px-s {
   padding-left: var(--s);
   padding-right: var(--s);
}
.px-m {
   padding-left: var(--m);
   padding-right: var(--m);
}
.px-l {
   padding-left: var(--l);
   padding-right: var(--l);
}
.px-xl {
   padding-left: var(--xl);
   padding-right: var(--xl);
}
.px-xxl {
   padding-left: var(--xxl);
   padding-right: var(--xxl);
}
.px-xxxl {
   padding-left: var(--xxxl);
   padding-right: var(--xxxl);
}

.pt-s {
   padding-top: var(--s);
}
.pt-m {
   padding-top: var(--m);
}
.pt-l {
   padding-top: var(--l);
}
.pt-xl {
   padding-top: var(--xl);
}
.pt-xxl {
   padding-top: var(--xxl);
}
.pt-xxxl {
   padding-top: var(--xxxl);
}
.pb-s {
   padding-bottom: var(--s);
}
.pb-m {
   padding-bottom: var(--m);
}
.pb-l {
   padding-bottom: var(--l);
}
.pb-xl {
   padding-bottom: var(--xl);
}
.pb-xxl {
   padding-bottom: var(--xxl);
}
.pb-xxxl {
   padding-bottom: var(--xxxl);
}
.pl-s {
   padding-left: var(--s);
}
.pl-m {
   padding-left: var(--m);
}
.pl-l {
   padding-left: var(--l);
}
.pl-xl {
   padding-left: var(--xl);
}
.pl-xxl {
   padding-left: var(--xxl);
}
.pl-xxxl {
   padding-left: var(--xxxl);
}
.pr-s {
   padding-right: var(--s);
}
.pr-m {
   padding-right: var(--m);
}
.pr-l {
   padding-right: var(--l);
}
.pr-xl {
   padding-right: var(--xl);
}
.pr-xxl {
   padding-right: var(--xxl);
}
.pr-xxxl {
   padding-right: var(--xxxl);
}

.m-s {
   margin: var(--s);
}
.m-m {
   margin: var(--m);
}
.m-l {
   margin: var(--l);
}
.m-xl {
   margin: var(--xl);
}
.m-xxl {
   margin: var(--xxl);
}
.m-xxxl {
   margin: var(--xxxl);
}
.my-s {
   margin-top: var(--s);
   margin-bottom: var(--s);
}
.my-m {
   margin-top: var(--m);
   margin-bottom: var(--m);
}
.my-l {
   margin-top: var(--l);
   margin-bottom: var(--l);
}
.my-xl {
   margin-top: var(--xl);
   margin-bottom: var(--xl);
}
.my-xxl {
   margin-top: var(--xxl);
   margin-bottom: var(--xxl);
}
.my-xxxl {
   margin-top: var(--xxxl);
   margin-bottom: var(--xxxl);
}

.mx-s {
   margin-left: var(--s);
   margin-right: var(--s);
}
.mx-m {
   margin-left: var(--m);
   margin-right: var(--m);
}
.mx-l {
   margin-left: var(--l);
   margin-right: var(--l);
}
.mx-xl {
   margin-left: var(--xl);
   margin-right: var(--xl);
}
.mx-xxl {
   margin-left: var(--xxl);
   margin-right: var(--xxl);
}
.mx-xxxl {
   margin-left: var(--xxxl);
   margin-right: var(--xxxl);
}
.mt-s {
   margin-top: var(--s);
}
.mt-m {
   margin-top: var(--m);
}
.mt-l {
   margin-top: var(--l);
}
.mt-xl {
   margin-top: var(--xl);
}
.mt-xxl {
   margin-top: var(--xxl);
}
.mt-xxxl {
   margin-top: var(--xxxl);
}
.mb-s {
   margin-bottom: var(--s);
}
.mb-m {
   margin-bottom: var(--m);
}
.mb-l {
   margin-bottom: var(--l);
}
.mb-xl {
   margin-bottom: var(--xl);
}
.mb-xxl {
   margin-bottom: var(--xxl);
}
.mb-xxxl {
   margin-bottom: var(--xxxl);
}
.ml-s {
   margin-left: var(--s);
}
.ml-m {
   margin-left: var(--m);
}
.ml-l {
   margin-left: var(--l);
}
.ml-xl {
   margin-left: var(--xl);
}
.ml-xxl {
   margin-left: var(--xxl);
}
.ml-xxxl {
   margin-left: var(--xxxl);
}
.ml-auto{
   margin-left: auto;
}
.mr-s {
   margin-right: var(--s);
}
.mr-m {
   margin-right: var(--m);
}
.mr-l {
   margin-right: var(--l);
}
.mr-xl {
   margin-right: var(--xl);
}
.mr-xxl {
   margin-right: var(--xxl);
}
.mr-xxxl {
   margin-right: var(--xxxl);
}
.mr-auto{
   margin-right: auto;
}
/* bg-colors */
.bg-black-a-50{
   background-color: var(--black-alpha-50);
}
.bg-black-a-100{
   background-color: var(--black-alpha-100);
}
.bg-black-a-200{
   background-color: var(--black-alpha-200);
}
.bg-black-a-300{
   background-color: var(--black-alpha-300);
}
.bg-black-a-400{
   background-color: var(--black-alpha-400);
}
.bg-black-a-500{
   background-color: var(--black-alpha-500);
}
.bg-black-a-600{
   background-color: var(--black-alpha-600);
}
.bg-black-a-700{
   background-color: var(--black-alpha-700);
}
.bg-black-a-800{
   background-color: var(--black-alpha-800);
}
.bg-black-a-900{
   background-color: var(--black-alpha-900);
}
.bg-white-a-50{
   background-color: var(--white-alpha-50);
}
.bg-white-a-100{
   background-color: var(--white-alpha-100);
}
.bg-white-a-200{
   background-color: var(--white-alpha-200);
}
.bg-white-a-300{
   background-color: var(--white-alpha-300);
}
.bg-white-a-400{
   background-color: var(--white-alpha-400);
}
.bg-white-a-500{
   background-color: var(--white-alpha-500);
}
.bg-white-a-600{
   background-color: var(--white-alpha-600);
}
.bg-white-a-700{
   background-color: var(--white-alpha-700);
}
.bg-white-a-800{
   background-color: var(--white-alpha-800);
}
.bg-white-a-900{
   background-color: var(--white-alpha-900);
}
.bg-grey-50{
   background-color: var(--grey-50);
}
.bg-grey-100{
   background-color: var(--grey-100);
}
.bg-grey-200{
   background-color: var(--grey-200);
}
.bg-grey-300{
   background-color: var(--grey-300);
}
.bg-grey-400{
   background-color: var(--grey-400);
}
.bg-grey-500{
   background-color: var(--grey-500);
}
.bg-grey-600{
   background-color: var(--grey-600);
}
.bg-grey-700{
   background-color: var(--grey-700);
}
.bg-grey-800{
   background-color: var(--grey-800);
}
.bg-grey-900{
   background-color: var(--grey-900);
}
.bg-blue-50{
   background-color: var(--blue-50);
}
.bg-blue-100{
   background-color: var(--blue-100);
}
.bg-blue-200{
   background-color: var(--blue-200);
}
.bg-blue-300{
   background-color: var(--blue-300);
}
.bg-blue-400{
   background-color: var(--blue-400);
}
.bg-blue-500{
   background-color: var(--blue-500);
}
.bg-blue-600{
   background-color: var(--blue-600);
}
.bg-blue-700{
   background-color: var(--blue-700);
}
.bg-blue-800{
   background-color: var(--blue-800);
}
.bg-blue-900{
   background-color: var(--blue-900);
}
.bg-red-50{
   background-color: var(--red-50);
}
.bg-red-100{
   background-color: var(--red-100);
}
.bg-red-200{
   background-color: var(--red-200);
}
.bg-red-300{
   background-color: var(--red-300);
}
.bg-red-400{
   background-color: var(--red-400);
}
.bg-red-500{
   background-color: var(--red-500);
}
.bg-red-600{
   background-color: var(--red-600);
}
.bg-red-700{
   background-color: var(--red-700);
}
.bg-red-800{
   background-color: var(--red-800);
}
.bg-red-900{
   background-color: var(--red-900);
}
.bg-teal-50{
   background-color: var(--teal-50);
}
.bg-teal-100{
   background-color: var(--teal-100);
}
.bg-teal-200{
   background-color: var(--teal-200);
}
.bg-teal-300{
   background-color: var(--teal-300);
}
.bg-teal-400{
   background-color: var(--teal-400);
}
.bg-teal-500{
   background-color: var(--teal-500);
}
.bg-teal-600{
   background-color: var(--teal-600);
}
.bg-teal-700{
   background-color: var(--teal-700);
}
.bg-teal-800{
   background-color: var(--teal-800);
}
.bg-teal-900{
   background-color: var(--teal-900);
}
.bg-green-50{
   background-color: var(--green-50);
}
.bg-green-100{
   background-color: var(--green-100);
}
.bg-green-200{
   background-color: var(--green-200);
}
.bg-green-300{
   background-color: var(--green-300);
}
.bg-green-400{
   background-color: var(--green-400);
}
.bg-green-500{
   background-color: var(--green-500);
}
.bg-green-600{
   background-color: var(--green-600);
}
.bg-green-700{
   background-color: var(--green-700);
}
.bg-green-800{
   background-color: var(--green-800);
}
.bg-green-900{
   background-color: var(--green-900);
}
.bg-orange-50{
   background-color: var(--orange-50);
}
.bg-orange-100{
   background-color: var(--orange-100);
}
.bg-orange-200{
   background-color: var(--orange-200);
}
.bg-orange-300{
   background-color: var(--orange-300);
}
.bg-orange-400{
   background-color: var(--orange-400);
}
.bg-orange-500{
   background-color: var(--orange-500);
}
.bg-orange-600{
   background-color: var(--orange-600);
}
.bg-orange-700{
   background-color: var(--orange-700);
}
.bg-orange-800{
   background-color: var(--orange-800);
}
.bg-orange-900{
   background-color: var(--orange-900);
}
.bg-purple-50{
   background-color: var(--purple-50);
}
.bg-purple-100{
   background-color: var(--purple-100);
}
.bg-purple-200{
   background-color: var(--purple-200);
}
.bg-purple-300{
   background-color: var(--purple-300);
}
.bg-purple-400{
   background-color: var(--purple-400);
}
.bg-purple-500{
   background-color: var(--purple-500);
}
.bg-purple-600{
   background-color: var(--purple-600);
}
.bg-purple-700{
   background-color: var(--purple-700);
}
.bg-purple-800{
   background-color: var(--purple-800);
}
.bg-purple-900{
   background-color: var(--purple-900);
}
.bg-yellow-50{
   background-color: var(--yellow-50);
}
.bg-yellow-100{
   background-color: var(--yellow-100);
}
.bg-yellow-200{
   background-color: var(--yellow-200);
}
.bg-yellow-300{
   background-color: var(--yellow-300);
}
.bg-yellow-400{
   background-color: var(--yellow-400);
}
.bg-yellow-500{
   background-color: var(--yellow-500);
}
.bg-yellow-600{
   background-color: var(--yellow-600);
}
.bg-yellow-700{
   background-color: var(--yellow-700);
}
.bg-yellow-800{
   background-color: var(--yellow-800);
}
.bg-yellow-900{
   background-color: var(--yellow-900);
}
.bg-cyan-50{
   background-color: var(--cyan-50);
}
.bg-cyan-100{
   background-color: var(--cyan-100);
}
.bg-cyan-200{
   background-color: var(--cyan-200);
}
.bg-cyan-300{
   background-color: var(--cyan-300);
}
.bg-cyan-400{
   background-color: var(--cyan-400);
}
.bg-cyan-500{
   background-color: var(--cyan-500);
}
.bg-cyan-600{
   background-color: var(--cyan-600);
}
.bg-cyan-700{
   background-color: var(--cyan-700);
}
.bg-cyan-800{
   background-color: var(--cyan-800);
}
.bg-cyan-900{
   background-color: var(--cyan-900);
}
.bg-pink-50{
   background-color: var(--pink-50);
}
.bg-pink-100{
   background-color: var(--pink-100);
}
.bg-pink-200{
   background-color: var(--pink-200);
}
.bg-pink-300{
   background-color: var(--pink-300);
}
.bg-pink-400{
   background-color: var(--pink-400);
}
.bg-pink-500{
   background-color: var(--pink-500);
}
.bg-pink-600{
   background-color: var(--pink-600);
}
.bg-pink-700{
   background-color: var(--pink-700);
}
.bg-pink-800{
   background-color: var(--pink-800);
}
.bg-pink-900{
   background-color: var(--pink-900);
}
/* colors */
.black-a-50{
   color: var(--black-alpha-50);
}
.black-a-100{
   color: var(--black-alpha-100);
}
.black-a-200{
   color: var(--black-alpha-200);
}
.black-a-300{
   color: var(--black-alpha-300);
}
.black-a-400{
   color: var(--black-alpha-400);
}
.black-a-500{
   color: var(--black-alpha-500);
}
.black-a-600{
   color: var(--black-alpha-600);
}
.black-a-700{
   color: var(--black-alpha-700);
}
.black-a-800{
   color: var(--black-alpha-800);
}
.black-a-900{
   color: var(--black-alpha-900);
}
.white-a-50{
   color: var(--white-alpha-50);
}
.white-a-100{
   color: var(--white-alpha-100);
}
.white-a-200{
   color: var(--white-alpha-200);
}
.white-a-300{
   color: var(--white-alpha-300);
}
.white-a-400{
   color: var(--white-alpha-400);
}
.white-a-500{
   color: var(--white-alpha-500);
}
.white-a-600{
   color: var(--white-alpha-600);
}
.white-a-700{
   color: var(--white-alpha-700);
}
.white-a-800{
   color: var(--white-alpha-800);
}
.white-a-900{
   color: var(--white-alpha-900);
}
.grey-50{
   color: var(--grey-50);
}
.grey-100{
   color: var(--grey-100);
}
.grey-200{
   color: var(--grey-200);
}
.grey-300{
   color: var(--grey-300);
}
.grey-400{
   color: var(--grey-400);
}
.grey-500{
   color: var(--grey-500);
}
.grey-600{
   color: var(--grey-600);
}
.grey-700{
   color: var(--grey-700);
}
.grey-800{
   color: var(--grey-800);
}
.grey-900{
   color: var(--grey-900);
}
.blue-50{
   color: var(--blue-50);
}
.blue-100{
   color: var(--blue-100);
}
.blue-200{
   color: var(--blue-200);
}
.blue-300{
   color: var(--blue-300);
}
.blue-400{
   color: var(--blue-400);
}
.blue-500{
   color: var(--blue-500);
}
.blue-600{
   color: var(--blue-600);
}
.blue-700{
   color: var(--blue-700);
}
.blue-800{
   color: var(--blue-800);
}
.blue-900{
   color: var(--blue-900);
}
.red-50{
   color: var(--red-50);
}
.red-100{
   color: var(--red-100);
}
.red-200{
   color: var(--red-200);
}
.red-300{
   color: var(--red-300);
}
.red-400{
   color: var(--red-400);
}
.red-500{
   color: var(--red-500);
}
.red-600{
   color: var(--red-600);
}
.red-700{
   color: var(--red-700);
}
.red-800{
   color: var(--red-800);
}
.red-900{
   color: var(--red-900);
}
.teal-50{
   color: var(--teal-50);
}
.teal-100{
   color: var(--teal-100);
}
.teal-200{
   color: var(--teal-200);
}
.teal-300{
   color: var(--teal-300);
}
.teal-400{
   color: var(--teal-400);
}
.teal-500{
   color: var(--teal-500);
}
.teal-600{
   color: var(--teal-600);
}
.teal-700{
   color: var(--teal-700);
}
.teal-800{
   color: var(--teal-800);
}
.teal-900{
   color: var(--teal-900);
}
.green-50{
   color: var(--green-50);
}
.green-100{
   color: var(--green-100);
}
.green-200{
   color: var(--green-200);
}
.green-300{
   color: var(--green-300);
}
.green-400{
   color: var(--green-400);
}
.green-500{
   color: var(--green-500);
}
.green-600{
   color: var(--green-600);
}
.green-700{
   color: var(--green-700);
}
.green-800{
   color: var(--green-800);
}
.green-900{
   color: var(--green-900);
}
.orange-50{
   color: var(--orange-100);
}
.orange-100{
   color: var(--orange-100);
}
.orange-200{
   color: var(--orange-200);
}
.orange-300{
   color: var(--orange-300);
}
.orange-400{
   color: var(--orange-400);
}
.orange-500{
   color: var(--orange-500);
}
.orange-600{
   color: var(--orange-600);
}
.orange-700{
   color: var(--orange-700);
}
.orange-800{
   color: var(--orange-800);
}
.orange-900{
   color: var(--orange-900);
}
.purple-50{
   color: var(--purple-50);
}
.purple-100{
   color: var(--purple-100);
}
.purple-200{
   color: var(--purple-200);
}
.purple-300{
   color: var(--purple-300);
}
.purple-400{
   color: var(--purple-400);
}
.purple-500{
   color: var(--purple-500);
}
.purple-600{
   color: var(--purple-600);
}
.purple-700{
   color: var(--purple-700);
}
.purple-800{
   color: var(--purple-800);
}
.purple-900{
   color: var(--purple-900);
}
.yellow-50{
   color: var(--yellow-50);
}
.yellow-100{
   color: var(--yellow-100);
}
.yellow-200{
   color: var(--yellow-200);
}
.yellow-300{
   color: var(--yellow-300);
}
.yellow-400{
   color: var(--yellow-400);
}
.yellow-500{
   color: var(--yellow-500);
}
.yellow-600{
   color: var(--yellow-600);
}
.yellow-700{
   color: var(--yellow-700);
}
.yellow-800{
   color: var(--yellow-800);
}
.yellow-900{
   color: var(--yellow-900);
}
.cyan-50{
   color: var(--cyan-50);
}
.cyan-100{
   color: var(--cyan-100);
}
.cyan-200{
   color: var(--cyan-200);
}
.cyan-300{
   color: var(--cyan-300);
}
.cyan-400{
   color: var(--cyan-400);
}
.cyan-500{
   color: var(--cyan-500);
}
.cyan-600{
   color: var(--cyan-600);
}
.cyan-700{
   color: var(--cyan-700);
}
.cyan-800{
   color: var(--cyan-800);
}
.cyan-900{
   color: var(--cyan-900);
}
.pink-50{
   color: var(--pink-100);
}
.pink-100{
   color: var(--pink-100);
}
.pink-200{
   color: var(--pink-200);
}
.pink-300{
   color: var(--pink-300);
}
.pink-400{
   color: var(--pink-400);
}
.pink-500{
   color: var(--pink-500);
}
.pink-600{
   color: var(--pink-600);
}
.pink-700{
   color: var(--pink-700);
}
.pink-800{
   color: var(--pink-800);
}
.pink-900{
   color: var(--pink-900);
}
/* gradients */
.bg-gradient-50{
   background: linear-gradient(90deg, #cfd9df 0%, #e2ebf0 100%);
}
.bg-gradient-100{
   background: linear-gradient(90deg, #ff9a9e 0%, #fad0c4 100%);
}
.bg-gradient-200{
   background: linear-gradient(90deg, #89f7fe 0%, #66a6ff 100%);
}
.bg-gradient-300{
   background: linear-gradient(90deg, #4e54c8 0%, #8f94fb 100%);
}
.bg-gradient-400{
   background: linear-gradient(90deg, #0cebeb 0%, #20e3b2 50%, #29ffc6 100%);
}
.bg-gradient-500{
   background: linear-gradient(90deg, #ff9966 0%, #ff5e62 100%);
}
.bg-gradient-600{
   background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
}
.bg-gradient-700{
   background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
}
.bg-gradient-800{
   background: linear-gradient(90deg, #00f260 0%, #0575e6 100%);
}
.bg-gradient-900{
   background: linear-gradient(90deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
}
.txt-gradient-50{
   background: linear-gradient(90deg, #cfd9df 0%, #e2ebf0 100%);
    -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-box-decoration-break: clone;
}
.txt-gradient-100{
   background: linear-gradient(90deg, #ff9a9e 0%, #fad0c4 100%);
    -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-box-decoration-break: clone;
}
.txt-gradient-200{
   background: linear-gradient(90deg, #89f7fe 0%, #66a6ff 100%);
    -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-box-decoration-break: clone;
}
.txt-gradient-300{
   background: linear-gradient(90deg, #4e54c8 0%, #8f94fb 100%);
    -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-box-decoration-break: clone;
}
.txt-gradient-400{
   background: linear-gradient(90deg, #0cebeb 0%, #20e3b2 50%, #29ffc6 100%);
    -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-box-decoration-break: clone;
}
.txt-gradient-500{
   background: linear-gradient(90deg, #ff9966 0%, #ff5e62 100%);
    -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-box-decoration-break: clone;
}
.txt-gradient-600{
   background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-box-decoration-break: clone;
}
.txt-gradient-700{
   background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
    -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-box-decoration-break: clone;
}
.txt-gradient-800{
   background: linear-gradient(90deg, #00f260 0%, #0575e6 100%);
    -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-box-decoration-break: clone;
}
.txt-gradient-900{
   background: linear-gradient(90deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
    -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-box-decoration-break: clone;
}

/* images */

@media screen and (max-width: 768px){
   .flex-h{
      flex-direction: column;
   }
}
/* typography */

.bold{
   font-weight: bold;
}
.center{
   text-align: center;
}
.underline{
   text-decoration: underline;
}
.font-xs{
   font-size: var(--font-xs);
}
.font-s{
   font-size: var(--font-s);
}
.font-m{
   font-size: var(--font-m);
}
.font-l{
   font-size: var(--font-l);
}
.font-xl{
   font-size: var(--font-xl);
}
.font-xxl{
   font-size: var(--font-xxl);
}
.font-xxxl{
   font-size: var(--font-xxxl);
}
/* animation */
.animateOut {
   animation: animateOut 1s ease forwards;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
}
.animateIn {
   animation: animateIn 1s ease forwards;
   transform: translateY(-150px);
}

.delay-1s {
   animation-delay: 1s;
}
.delay-2s {
   animation-delay: 2s;
}
.delay-3s {
   animation-delay: 3s;
}
@keyframes animateOut {
   0% {
      opacity: 1;
      transform: translateY(0px);
   }
   100% {
      opacity: 0;
      transform: translateY(-130px);
   }
}
@keyframes animateIn {
   0% {
      opacity: 0;
      transform: translateY(-150px);
   }
   100% {
      opacity: 1;
      transform: translateY(0px);
   }
}

.content-wrapper{
   display: grid;
   grid-template-columns: 1fr min(var(--content-wrapper-width), 100%) 1fr;
}
.content-wrapper > *{
   grid-column: 2;
}
.full-bleed {
   grid-column: 1 / 4;
}

.content-container{
   width: min(var(--content-wrapper-width));
   margin-inline: auto;
}

